//- @param info: { srcImg: string, title: string }
mixin card(info)
    .card__content
        h6.font-size-small.text-up.card__title.pb-10.fw-600 #{info.title}
        span.font-size-extra-small.card__desc.fw-600 #{info.desc}