section
  &.about__banner
    @include background("../img/aboutBanner.png")
    min-height: 800px
    padding: 182px 0 0 90px
    color: $white

    .text__wrapper
      max-width: 34%
      overflow-wrap: break-word

  &.about__service
    min-height: 700px
    @include background("../img/aboutService.png")
    color: #1f1f1f
    padding: 130px 0 0 90px

    .text__wrapper
      max-width: 36%
      overflow-wrap: break-word

      h6
        line-height: 28px

      p
        line-height: 23px