.filtered__products
  position: relative

  .content
    padding-bottom: 77px
    border-bottom: 1px solid #999


  &__img
    width: 68%


  &__desc
    width: 74%
    position: relative
    z-index: 999
    padding-left: 15px

    h5
      line-height: 37px

    li
      border-bottom: 1px solid #ddd
      display: flex
      padding-bottom: 12px
      margin-bottom: 10px

      .list__icon
        padding-right: 10px

        img
          width: auto
          height: auto

      .list__descriptiom
        color: $main-color
        p
          line-height: 17px
          padding-bottom: 3px

          span
            padding-left: 12px
            line-height: 17px


    .service__cost
      width: 100%
      background: #f6f6f6
      color: $main-color
      border-radius: 4px
      padding: 30px
      margin-top: 30px

      span
        line-height: 19px

    .buttons__wrapper
      display: flex
      flex-direction: column

      button
        margin-bottom: 5px

  .positioned__img
    position: absolute
    top: -51px
    left: 0
    z-index: 0


  .close__btn
    height: 100px
    width: 100px
    position: relative
    background: unset
    border: unset
    padding: 0

    &__icon
      width: 50%
      height: auto
      position: absolute
      left: 26px
      top: 24px
      transform: translate(-1px, 1px)


.filtered__products__title
  font-size: rem(32)

.font-size-list-small
  font-size: rem(15)