extends chunks/common/base/base

block variables
    - var pageClass = 'p-exercise'
    - var pageTitle = 'Warranty Page'

block mainContent
    .content
        <!--================ Warranty Banner Area Start =================-->
        section.warranty__banner.mb-70
            .text__wrapper
                h1.font-70.pb-20.fw-600.text-left Гарантия сервиса
                h6.font-size-small.fw-300.text-left Наш сервис  предлагает быстрый и качественный  ремонт техники фирмы Miele и лучшие гарантийные условия.

        <!--================ Warranty Banner Area End =================-->

        <!--================ Triple Guarantee  Area Start =================-->
        section.triple__guarantee.mb-80
            .content
                h1.page-title-large.pb-30.fw-300.text-left Тройная гарантия - залог уверенности клиента
                .row
                    -
                        const card = [  {title: 'Несем материальную ответственность',
                        desc: 'К частной собственности клиентов относимся со всей ответственностью. Не берёмся за работу, если устройство не подлежит ремонту. Готовы нести материальную ответственность за выполненные работы. Возместим стоимость устройства, если оно выйдет из строя по нашей вине.'},
                        {title: 'Не берем предоплату, оплата - по факту',
                        desc: 'Проводим диагностику любого устройства Oppo бесплатно. Озвучиваем предварительную стоимость ремонта после диагностики и согласуем её с клиентом. Оплата производится после проверки исправности устройства клиентом в присутствии мастера.'},
                        {title: 'Гарантия до 12 месяцев - на все работы и запчасти',
                        desc: 'Приступаем к ремонту только после предъявления Гарантийного талона и кассового чека. В случае повторения неисправности – ремонт производится бесплатно. Используем для ремонта только оригинальные комплектующие производства. Вы можете быть спокойны за свою технику,ремонтируя её у нас'}
                        ]
                    each item, index in card
                        .col-md-4.col-sm-6.col-xs-12.col-xl-4
                            article(class="c-card pt-120 text-left pb-40 card__bg__" + (index + 1))
                                +card(item)

        <!--================ Service Guarantee  Area Start =================-->
        section.service__guarantee.bg-ece
            .content
                .row
                    .col-md-6
                        .service__guarantee__text.pt-50.pb-70
                            h1.page-title-extra-large.text-left.fw-300.pb-20 Гарантия сервиса
                            p.paragraph-font-base.pb-15.fw-300.text-left  Мы уверены в качестве услуг и всегда предоставляем гарантию независимо от вида работ. На первом месте для нас – комфорт и уверенность клиента в профессионализме ремонтников. Только непрофессиональный сервисный центр может отказывать в выдаче гарантии, и к таким ремонтникам обращаться не стоит.
                            p.paragraph-font-base.fw-300.text-left  Поломки после ремонта сведены к минимуму, но никто не застрахован от ошибки. Если после вмешательства проблема вновь дала о себе знать, мы отремонтируем устройство бесплатно. Гарантийный срок действует до 2 лет с момента окончания ремонта.
                    .col-md-6
                        .service__guarantee__img
                            img(src=getImage("/guarantePic.png"))

        <!--================ Service Guarantee  Area End =================-->

        <!--================ Service Guarantee  Area End =================-->
        section
            .container-fluid
                .row
                    -
                        const secondCard = [  {title: '100% гарантия на все ремонтные работы'},{title: 'Только оригинальные запчасти с гарантией'},{title: 'Бесплатный забор техники в районе города'}]
                    each item, index in secondCard
                        .col-md-4.p-0
                            article(class="c-card-second text-center pb-40 card__bg__" + (index + 1))
                                +card(item)

        include chunks/common/components/repeating-sectons
