<!--================ Help Wrapper Area Start =================-->
section.help__wrapper.mb-20.pt-60
    .wrapper__content
        .col-md-6.p-0
            .help__wrapper__text
                +text-wrap('Я не нашел свою исправность, перезвоните мне.',
                'Каждый случай поломки уникален, и если вы не нашли свою поломку получите бесплатную консультацию',
                'Номер телефона', 'Отправить', text__lg, without__input )
    .help__wrapper_img
        img(src=getImage("/help.png"))

<!--================ Help Wrapper Area End =================-->