<!--================ NesLetter Area Start =================-->
section.newsletter__wrapper
    .content
        .row
            .col-md-6
                +text-wrap('Скидка 20%', 'Скидка 20% от прайса по предварительной записи с сайта!','Номер телефона', 'Отправить' )
            .col-md-6
                .positioned__box
                    img(src=getImage("/smartphones.png"))
<!--================ NesLetter Area End =================-->
