footer
  color: $white

  .content
    width: calc(100% - 580px)

    h6
      margin-bottom: 5px
      padding-left: 12px

    p
      line-height: 32px

    .circle
      @include circle(36px, 2px, $white)
      margin: 5px auto 20px
      padding: 7px

  .box
    align-items: flex-start
    justify-content: flex-start

  .footer__list
    h6
      line-height: 50px
      margin-bottom: 10px
      padding: 0

    ul
      max-height: 223px
      overflow: hidden
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-between

      li
        a
          font-weight: normal
          line-height: 21px
          color: $white

      &.footer__list__items
        li
          padding-right: 70px
    &.footer__second__list
      width: 100%
      flex: 1 1 50%

      ul
        max-height: 180px

  .copyright
    height: 70px
    @include flexContainer(flex, flex-start, center, row, nowrap)
    background: #595959