.help__wrapper
  background-color: #b6b3be

  &_img
    height: 100%
    img
      object-fit: cover

  &__text
    width: 70%
    @include push--auto(0)

  .help__title__font__size
    font-size: rem($font-size-middle)
    margin-bottom: 15px

  .help__subtitle__font__size
    font-size: rem($font-size-small)