<!--================ Including Script Links =================-->

script(src='assets/templates/default/libs/jquery/dist/jquery.min.js')
script(src='assets/templates/default/libs/bootstrap/popper.min.js')
script(src='assets/templates/default/libs/bootstrap/bootstrap.min.js')
script(src='assets/templates/default/libs/owl/owl.carousel.min.js')
script(src='assets/templates/default/js/main.js')